.profile-block-hidden
{
	display: none;
}

.profile-block-shown
{
	display:block;
}




.profile-table
{
	width: 100%;
}





.profile-fields
{
	width: 550px;
	float:left;
	margin-top:10px;
}
.profile-hint
{
	width: 350px;
	margin-left:80px;
	margin-top:10px;
}






.profile-link
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	color:#212121;
	font-size:14px;
}

.profile-table td {
	vertical-align: top;
	width:50%;
}
