.make_order .content
{
	float:left;
	width:700px;*width 760px;
	overflow:hidden;
	padding:20px 30px;
}
.make_order .content table 
{
	font-size:12px;
	color:#555555;
	line-height: 1.8;
}
.make_order .top_left
{
	float:left;
	width: 10px;height:10px;
	background:url('images/top_left.png') no-repeat 0px 0px transparent;
	overflow:hidden;
}
.make_order .top_center
{
	float:left;
	height:9px;
	border-top:1px solid #e0e0e0;
	overflow:hidden;
}
.make_order .top_right
{
	float:left;
	width: 10px;height:10px;
	background:url('images/top_right.png') no-repeat 0px 0px transparent;
	overflow:hidden;
}
.make_order .bottom_left
{
	float:left;
	width: 10px;height:10px;
	background:url('images/bottom_left.png') no-repeat 0px 0px transparent;
	overflow:hidden;
}
.make_order .bottom_center
{
	float:left;
	height:9px;*height:10px;
	border-bottom:1px solid #e0e0e0;
	overflow:hidden;
}
.make_order .bottom_right
{
	float:left;
	width: 10px;height:10px;
	background:url('images/bottom_right.png') no-repeat 0px 0px transparent;
	overflow:hidden;
}
.type_right_block
{
	float:right;
	width:525px;
}
.type_left_block
{
	float:left;
	width:165px;
}
.contButton
{
	background-color:transparent;
	border:0;	
}
.backButton
{
	background-color:transparent;
	border:0;	
}
.right_block2
{
	float:right;
	width:390px;
}
.left_block2
{
	float:left;
	width:285px;
}
.PropertiesName
{
	float:left; 
	margin-right: 5px; 
	margin-top: 3px;width: 100%;
}
.line_prop
{
	float:left;width:100%;margin:3px 0;
}
table.product_table
{
	width:100%;
}
table.product_table td,table.product_table th
{
	border-top:1px solid #e0e0e0;
	margin:0;
	padding: 2px 10px; 
}
.calc a
{
	font-size:11px;
}
a.back
{
	margin-right:200px;
}
.line_prop textarea
{
	width:270px;
}